.dropdown, .menu {
  --bg: rgb(31, 27, 30);
  --bg-accent: #3855c8;
  --text-color: white;
  --nav-size: 100px;
  --border-radius: 8px;
  --border: 1px solid #555659;
  --speed: 300ms;

}

.dropdown {
  position: absolute;
  color: var(--text-color);
  top: 80px;
  width: 200px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menuItem {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  text-decoration: none;
  color: var(--text--color);
}

.menuItem .iconButton {
  margin-right: 0.5rem;
}


.menuItem .iconButton:hover {
  filter: none;
}

.menuItem:hover {
  background-color: #f5acf5;;
}

.iconRight {
  margin-left: auto;
}

.menuPrimaryEnter{
  position: absolute;
  transform: translateX(-110%);
}

.menuPrimaryEnterActive{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menuPrimaryExit{
  position: absolute;
  transform: translateX(0%);
} 

.menuPrimaryExitActive{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
} 

.menuSecondaryEnter{
  position: absolute;
  transform: translateX(110%);
}

.menuSecondaryEnterActive{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menuSecondaryExit{
  position: absolute;
  transform: translateX(0%);
} 

.menuSecondaryExitActive{
  transform: translateX(110%);
  transition: all var(--speed) ease;
} 