div {
  --bg: rgb(31, 27, 30);
  --bg-accent: #3855c8;
  --text-color: white;
  --nav-size: 100px;
  --border-radius: 8px;
  --border: 1px solid #555659;
  --speed: 300ms;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text--color);
}

.dropdown {
  position: absolute;
  color: var(--text-color);
  top: 80px;
  width: 200px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: rgb(228, 186, 217);
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter{
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit{
  position: absolute;
  transform: translateX(0%);
} 

.menu-primary-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
} 

.menu-secondary-enter{
  position: absolute;
  transform: translateX(110%);
}

.menu-secondary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit{
  position: absolute;
  transform: translateX(0%);
} 

.menu-secondary-exit-active{
  transform: translateX(110%);
  transition: all var(--speed) ease;
} 