.friendsArea {
  top: 25%; 
  width: 250px; 
  height: calc(100% - 25% - 50px); 
  background-color: #272626; 
  border-left: 10px solid #585858;
  border-right: 10px solid #585858;
  border-top: 10px solid #585858;
  border-bottom: 10px solid #585858;
  padding: 10px; 
  overflow-y: auto;
  display: block;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 76%;
  top: 16%;
}

.friendBlock {
  display: flex;
  flex-direction: column;
  background-color: #585858;
  color: white;
  margin-bottom: 8px;
  padding: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}
