.listItem {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.listItem:visited {
    color: white;
}

.navbar {
    height: 48px;
    width: calc(100% - 30px);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    --bg: #f5acf5;
    --bg-accent: #525357;
    --text-colour: white;
    --nav-size: 60px;
    --border-radius: 8px;
    --border: 1px solid #525357;
    --speed: 500ms;
    position: fixed;
}

.navbarNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-width: 100%;
}

.navItem {
    width: calc(var(--nav--size) * 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButton {
    --button--size: calc(var(--nav--size) * 0.6);
    width: var(--button--size);
    height:var(--button--size);
    background-color: rgb(43, 38, 38);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    text-decoration: none;
    color: var(--text--color);
}

.iconButton:hover {
    filter: brightness(1.5);
}

.iconButton svg {
    fill: white;
    height: 25px;
    width: 25px;
}
.pageLinks {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --text-color: white;
}


.listItem:hover {
    color: gray;
}

.logo {
    width: 48px;
}