.postContainer {
  display: flex;
  flex-direction: column;
  background-color: #585858;
  color: white;
  margin-bottom: 8px;
  padding: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}

.controlArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deleteSubmit {
  background-color: #f5acf5;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 2px;
  height: 24px;
}

.commentArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 16px;
}

.commentBody {
  display: flex;
  flex-direction: column;
  line-height: 32px;
}

.commentControl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controlBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 8px;
}