.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-color: #f5acf5;
  height: 30px;
  background-color: #f5acf5;
}

.submitPostContainer {
  display: flex;
  flex-direction: row;
}

.feedSubmit {
  background-color: #f5acf5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 54px;
    padding: 10px 20px; 
    margin-left: 20px;
    left: 20px;
}