.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-color: #f5acf5;
  height: 30px;
  background-color: #f5acf5;
}

.submit-post-container {
  display: flex;
  flex-direction: row;
}

#feedSubmit {
  background-color: #f5acf5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 150px; /* Adjust the width to change the size */
    height: 54px; /* Adjust the height to change the size */
    padding: 10px 20px; 
    margin-left: 0px;
    position: relative;
    left: 20px;
}