

/* h1 {    
    color: #fff;
    font-size: 20px;
    font-weight: 600;
} */

.newsTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;

}

.contents {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.articleTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}