.resetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resetText {
  font-size: 48px;
}

.resetReason {
  font-size: 28px;
  color: white;
  margin-bottom: 16px;
}

.reset {
  font-size: 20px;
  color: white;
  margin-bottom: 16px
}

.resetLink {
  color: #f6bdf6;
  cursor: pointer;
}

.resetLink:hover {
  color: white;
}

.login {
  font-size: 20px;
  color: white;
}

.loginLink {
  color: #f6bdf6;
  cursor: pointer;
}

.loginLink:hover {
  color: white;
}
